  body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    flex: 0 80px;
    background-color:slategrey;
  }


  header h1 {
    flex: 1;
    color:antiquewhite;
  }

  menu {             /*aligns the 4 tabs*/
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 40px;
    font-weight: bold;
    font-size: larger;
    flex-direction: row;
    list-style: none;
  }
  
  nav menu li {
    margin-left: 50px;       /*spaces out the 4 tabs */
    flex: 1;
  }
  nav menu li a { /*targets the anchor elements from html*/
    color: antiquewhite;
    text-decoration: none;         /*removes the hyperlink line*/
    transition: color 0.5s;
  }
  nav menu li a:hover {
    color: lightblue;
  }


  main  {           /*welcome and login section*/
    flex: 1;
    min-height: calc(80vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: lightblue;
    padding: 20px;
  }

  main h1 {
    color: slategray;
    font-size:50px;
    margin-bottom: 10px;
  }

  main p {
    color: slategray;
    font-size: larger;
    margin-bottom: 0;
  }
  
  main form {
    color: slategray;
    font-size: larger;
    margin-top: 5px;
  }

  footer {
    flex: 0 30px;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
    padding: 10px;
    flex-shrink: 0;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  main form input[type="text"],
  main form input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%; /* Make inputs full width */
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 5px; /* Add rounded corners */
  }


  main form button[type="submit"] {
    padding: 10px 20px; 
    background-color: slategray;
    color: white;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  main form button[type="submit"]:hover {
    background-color: lightgray; 
  }

  footer a, footer span {
    align-items: center;
    color: antiquewhite;
  }

  
  
  