body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 98vh;
    font-weight: bold;
    text-align: left;
    align-items: center;
    background-color: lightblue;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    flex: 0 80px;
    background-color:slategrey;
  }

  header h1 {
    flex: 1;
    color:antiquewhite;
  }

  menu {             /*aligns the 4 tabs*/
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 40px;
    font-weight: bold;
    font-size: larger;
    flex-direction: row;
    list-style: none;
  }
  
  nav menu li {
    margin-left: 50px;       /*spaces out the 4 tabs */
    flex: 1;
  }

  nav menu li a { /*targets the anchor elements from html*/
    color: antiquewhite;
    text-decoration: none;         /*removes the hyperlink line*/
    transition: color 0.5s;
  }

  nav menu li a:hover {
    color: lightblue;
  }


  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:20px;
}

.category {
    margin-bottom: 20px; /* Adjust spacing between categories */
    align-items: center;
    display: flex;
    flex-direction: column;
    width:100%;
}

.category > p {
    font-weight: bolder;
    text-decoration-line: underline;
    font-size: 23px;
}

.category input[type="text"] {
    padding: 7px;
    margin-right: 10px; /* Adjust spacing between inputs */
    border-radius: 10px; 
}

.category input[type="text"][placeholder="Difference"] {
    max-width: 60px;
}

main form button[type="submit"] {
    padding: 10px 20px; 
    background-color: slategray;
    color: white;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin:auto;
    display: block;
  }

  main form button[type="submit"]:hover {
    background-color: lightgray; 
  }
  
  #savings-message {
    white-space: pre-wrap;
    text-align: right;
    display: flex;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    width:fit-content;
    margin: 0 auto;
    position: absolute;
    top: 400px; /* Adjust for desired vertical placement */
    right: 10px;
  }