  body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 98vh;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    flex: 0 80px;
    background-color:slategrey;
  }

  header h1 {
    flex: 1;
    color:antiquewhite;
  }

  menu {             /*aligns the 4 tabs*/
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 40px;
    font-weight: bold;
    font-size: larger;
    flex-direction: row;
    list-style: none;
  }
  
  nav menu li {
    margin-left: 50px;       /*spaces out the 4 tabs */
    flex: 1;
  }

  nav menu li a { /*targets the anchor elements from html*/
    color: antiquewhite;
    text-decoration: none;         /*removes the hyperlink line*/
    transition: color 0.5s;
  }

  nav menu li a:hover {
    color: lightblue;
  }

  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }

  main {
    font-size: larger;
    background-color: lightblue;
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  main p {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  

  #picture {
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid slategray; 
    border-radius: 2%;
  }
  
  #quote {
    font-weight: bold;
    text-align: center;
    font-size:x-large;
    margin: 0;
    background-color: slategray;
    border-radius: 5px;
    flex-shrink: 0;  /*prevents the footer from shrinking*/
  }


   
  
  

  